@import '../../../styles/typography';

.rightImageBlock {
  margin: 28px 0;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    margin: 50px 0;
  }
}

.blockWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--column-gap);
  align-items: stretch;
  justify-content: space-between;
  min-height: 410px;

  @include media-breakpoint-up(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.leftColumn {
  align-self: center;
  width: 100%;
}

.rightColumn {
  display: flex;
  justify-content: stretch;
  width: 100vw;
  margin: 0 -6%;

  @include media-breakpoint-up(sm) {
    order: 1;
    width: 100%;
    margin: 0;
  }
}

.title {
  @include typography-head-2;

  text-align: left;
}

.imageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 360px;
  overflow: hidden;
}

.image {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  max-width: 100%;
}
